@use 'SCSS/helpers' as *;

// Start Main Rules
* {
  box-sizing: border-box;
}
:root {
  --primary: black;
  --text-1: #a9a9a9;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 0.3s ease-in-out;
  --transition-500: all 0.5s ease-in-out;
  --serction-padding: 8rem;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
p {
  color: var(--primary);
}
img,
video {
  width: 100%;
  height: 100%;
}

// End Main Rules

// Start Landing
.landing {
  & {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
  .slider-one {
    position: relative;
    width: 100%;
    height: 100%;
  }
  nav {
    & {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 200;
    }
    .container {
      & {
        @include flex(space-between, center, 0, 0);
        padding: 2.5rem 1.5rem;
      }
      .logo {
        & {
          color: var(--white);
        }
        i {
          font-size: 3.5rem;
          color: #ffd700;
        }
        span {
          display: inline-block;
          font-size: 3rem;
          font-weight: 500;
          margin-left: 0.75rem;
        }
      }
      .links {
        & {
          @include flex(flex-start, center, 0, 2rem);
          @media (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
        a {
          color: var(--white);
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
      button {
        & {
          padding: 1rem 2.5rem;
          border-radius: 0.5rem;
          border: none;
          font-weight: 500;
          background: var(--primary);
          color: var(--white);
          transition: var(--transition-300);
          cursor: pointer;
          @media (max-width: 767px) {
            & {
              display: none;
            }
          }
        }
        &:hover {
          transform: translateY(-2px);
          box-shadow: var(--shadow-300);
        }
      }
      .icon {
        display: none;
        color: var(--white);
        font-size: 2.5rem;
        cursor: pointer;
        @media (max-width: 767px) {
          & {
            display: block;
          }
        }
      }
      .open {
        & {
          @include flex(center, center, 4rem, 0);
          flex-direction: column;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 70%;
          background-color: var(--white);
        }
        a {
          color: var(--primary);
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  .slider-one {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 150;
      width: 70%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    p {
      font-size: 7rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--white);
      line-height: 9rem;
      margin: 0 {
        bottom: 2rem;
      }
      @media (max-width: 991px) {
        font-size: 4.5rem;
        line-height: 7rem;
      }
      @media (max-width: 500px) {
        font-size: 3rem;
        line-height: 5rem;
      }
    }
    button {
      & {
        cursor: pointer;
        color: var(--white);
        padding: 1.5rem 3rem;
        transition: var(--transition-300);
        font-size: 1.5rem;
        font-weight: 400;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--primary);
        @media (max-width: 500px) {
          padding: 1rem 2rem;
        }
      }
      &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-300);
      }
    }
  }
  .navigation {
    & {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 200;
      @include flex(flex-start, center, 0, 2rem);
    }
    div {
      color: var(--white);
      padding: 1rem;
      border-radius: 50%;
      border: 1px solid var(--white);
      cursor: pointer;
      @media (max-width: 767px) {
        padding: 0.75rem;
      }
    }
  }
}
// End Landing

// Start about
.about {
  & {
    padding: var(--serction-padding) 0px;
  }
  .container {
    & {
      display: flex;
      align-items: center;
      gap: 5rem;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
    .content {
      & {
        flex: 1;
        order: -1;
        @media (max-width: 991px) {
          text-align: center;
        }
      }
      h3 {
        & {
          color: var(--primary);
          font-size: 4rem;
          font-weight: 700;
          margin: 0;
          line-height: 6rem;
          @media (max-width: 500px) {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
        span {
          color: #ffd700;
        }
      }
      p {
        font-size: 1.6rem;
        line-height: 1.7;
        font-weight: 300;
        text-align: justify;
        @media (max-width: 991px) {
          text-align: center;
        }
        @media (max-width: 500px) {
        }
      }
      button {
        background-color: var(--primary);
        color: var(--white);
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .slider-two {
      & {
        flex: 1;
        width: 100%;
        position: relative;
      }
      .navigation-2 {
        & {
          position: absolute;
          right: 0.5rem;
          bottom: 0.2rem;
          z-index: 200;
          @include flex(flex-start, center, 0, 0);
        }
        div {
          width: 4rem;
          height: 4rem;
          background-color: var(--white);
          color: var(--primary);
          @include flex(center, center, 0, 0);
          cursor: pointer;
        }
        div.swiper-button-disabled {
          opacity: 0.6;
          cursor: default;
        }
      }
      .swiper-slide,
      .swiper-wrapper {
        width: 100%;
        height: 60rem;
      }
      img {
        width: 100%;
        height: 60rem;
      }
    }
  }
}
// End about
